@model IEnumerable<Movie>

<h3>List of Movies</h3>
<table id="books">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Year Made</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited?</th>
            <th>Who was it Lent to</th>
            <th>Notes</th>
            <th> </th> @*column for edit*@
            <th> </th> @*column for delete*@
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Title</td>
                <td>@x.Category</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.Notes</td>
            </tr>
        }
    </tbody>
</table>
